# Ignore Python virtual environment
env/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore VSCode settings
.vscode/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp
